PORT=
NODE_ENV=
FRONTEND_URL=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_PHONE=
ADMIN_COMPANY=
ADMIN_ROLE=
ADMIN_STATUS=

DB_CLIENT=
DATABASE_URL=
DB_SSL=
DB_SSL_REJECT_UNAUTHORIZED=

REQUIREMENT_EMAIL=
EMAIL_USER=
EMAIL_PASS=
